MF0491_3 CLIENTE/UF1841/E2/RB_Ejercicio_Eq_futbol_xml_dtd/XML_DTD_XSD/rune_ssolar.dtd

<!ELEMENT sistema (definicion, concepto, sol, historia, planetas)>
<!ELEMENT definicion (#PCDATA)>
<!ELEMENT concepto (#PCDATA)>
<!ELEMENT sol (#PCDATA)>
<!ELEMENT historia (#PCDATA)>
<!ELEMENT planetas (desc | nombre | posicion | satelites)+>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT satelites (#PCDATA)>
<!ELEMENT posicion (#PCDATA)>
