MF0491_3 CLIENTE/UF1841/E2/RB_Examen_Sistema_Solar_xml_dtd/E2_EXAMEN_RUNE_SISTEMA_SOLAR/XML_DTD_XSD/rune_ssolar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by ALTON (RBN) -->
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="concepto" type="xs:string"/>
	<xs:element name="definicion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Sistema Solar"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="desc" type="xs:string"/>
	<xs:element name="historia" type="xs:string"/>
	<xs:element name="nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ceres"/>
				<xs:enumeration value="Jupiter"/>
				<xs:enumeration value="Marte"/>
				<xs:enumeration value="Mercurio"/>
				<xs:enumeration value="Neptuno"/>
				<xs:enumeration value="Pluton"/>
				<xs:enumeration value="Saturno"/>
				<xs:enumeration value="Sol"/>
				<xs:enumeration value="Tierra"/>
				<xs:enumeration value="Urano"/>
				<xs:enumeration value="Venus"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="planetas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
				<xs:element ref="nombre"/>
				<xs:element ref="desc"/>
				<xs:element ref="satelites"/>
				<xs:element ref="posicion"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="posicion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="04"/>
				<xs:enumeration value="05"/>
				<xs:enumeration value="06"/>
				<xs:enumeration value="07"/>
				<xs:enumeration value="08"/>
				<xs:enumeration value="09"/>
				<xs:enumeration value="CENTRO"/>
				<xs:enumeration value="Posicion:01"/>
				<xs:enumeration value="Posicion:02"/>
				<xs:enumeration value="Posicion:03"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="satelites">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="02"/>
				<xs:enumeration value="13"/>
				<xs:enumeration value="27"/>
				<xs:enumeration value="63"/>
				<xs:enumeration value="Satelites:0"/>
				<xs:enumeration value="Satelites:02"/>
				<xs:enumeration value="Satelites:1"/>
				<xs:enumeration value="Satelites:2"/>
				<xs:enumeration value="Satelites:61"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sistema">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="definicion"/>
				<xs:element ref="concepto"/>
				<xs:element ref="sol"/>
				<xs:element ref="historia"/>
				<xs:element ref="planetas"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sol">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DISTANCIA ENTRE LOS PLANETAS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
